config SCSI
	bool "Support SCSI controllers with driver model"
	select BLK
	help
	  This enables support for SCSI (Small Computer System Interface),
	  a parallel interface widely used with storage peripherals such as
	  hard drives and optical drives. The SCSI standards define physical
	  interfaces as well as protocols for controlling devices and
	  tranferring data. For every device configuration (IDs/LUNs) a block
	  device is created with RAW read/write and filesystem support.

config SCSI_ESP
	bool "AMD/NCR 53C9x ESP SCSI support"
	depends on SCSI
	select LIBATA
	help
	  This enables support for the AMD/NCR 53C9x "ESP" parallel SCSI
	  controller using pseudo-DMA, as found on classic 68k Macintosh
	  machines such as the Quadra 800 (and QEMU's q800 machine).
