// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2019 thingy.jp.
 * Author: Daniel Palmer <daniel@0x0f.com>
 */
/dts-v1/;

#include "chenxing-v7.dtsi"

/ {
        compatible = "mstar,infinity1", "mstar,chenxing-v7";
};

&aliases {
	eth0 = &emac;
	mmc0 = &sdio;
};


&soc {
	clk_emac: clk-sysin {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <144000000>;
		u-boot,dm-pre-reloc;
	};

	emac: emac@1f2a2000 {
		compatible = "mstar,msc313-emac";
		reg = <0x1f2a2000 0x4000>;
		phy-mode = "mii";
		clocks = <&clk_emac>;
	};

	sdio: sdio@1f282000 {
		compatible = "mstar,msc313-sdio";
		u-boot,dm-spl;
		u-boot,dm-preloc;
		reg = <0x1f282000 0x200>;
		no-1-8-v;
		cap-sd-highspeed;
		bus-width = <4>;
	};
};

