CONFIG_DISTRO_DEFAULTS=n

CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_SPL=y
CONFIG_MACH_SUN8I_V3S=y
CONFIG_DRAM_CLK=360
CONFIG_DRAM_ZQ=14779
CONFIG_DEFAULT_DEVICE_TREE="sun8i-v3s-dogedoge"
CONFIG_SYS_USB_EVENT_POLL_VIA_INT_QUEUE=y

#spi
CONFIG_SPL_SPI_SUNXI=y
CONFIG_SPI=y
CONFIG_DM_SPI_FLASH=y
CONFIG_DM_SPI=y
CONFIG_SUNXI_SPI=y
CONFIG_CMD_SF=y
CONFIG_CMD_SPI=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_MTD=y

#environment
CONFIG_ENV_IS_IN_FAT=n
CONFIG_ENV_IS_IN_SPI_FLASH=y
CONFIG_ENV_OFFSET=0x40000
CONFIG_ENV_SIZE=0x8000
CONFIG_ENV_SECT_SIZE=0x1000

#bits for loading from sd
CONFIG_CMD_EXT4=y
CONFIG_DOS_PARTITION=y

#misc
CONFIG_NET=n
CONFIG_FIT=y
CONFIG_CMD_NET=n
CONFIG_CMD_GPT=n
CONFIG_EFI_LOADER=n
CONFIG_EFI_PARTITION=n
CONFIG_CMD_ELF=n
CONFIG_CMD_BOOTZ=y
CONFIG_CMD_LOADB=n
CONFIG_CMD_LOADS=n
CONFIG_CMD_FLASH=n
