CONFIG_M68K=y
CONFIG_TEXT_BASE=0x0
CONFIG_NR_DRAM_BANKS=1
CONFIG_DEFAULT_DEVICE_TREE="virt-m68k"
CONFIG_BOOTSTAGE_STASH_ADDR=0
CONFIG_DEBUG_UART_CLOCK=0
CONFIG_SYS_LOAD_ADDR=0x400
CONFIG_TARGET_QEMU=y
# CONFIG_MCFTMR is not set
CONFIG_DEBUG_UART=y
CONFIG_LTO=y
CONFIG_REMAKE_ELF=y
# CONFIG_BOOTSTD is not set
# CONFIG_LEGACY_IMAGE_FORMAT is not set
CONFIG_STACKPROTECTOR=y
# CONFIG_BOOTM_NETBSD is not set
# CONFIG_BOOTM_PLAN9 is not set
# CONFIG_BOOTM_RTEMS is not set
# CONFIG_BOOTM_VXWORKS is not set
# CONFIG_CMD_ELF_BOOTVX is not set
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_LOADS is not set
CONFIG_CMD_FAT=y
CONFIG_EFI_PARTITION=y
CONFIG_OF_EMBED=y
CONFIG_DM_WARN=y
# CONFIG_BLOCK_CACHE is not set
# CONFIG_GPIO is not set
# CONFIG_I2C is not set
# CONFIG_INPUT is not set
# CONFIG_POWER is not set
CONFIG_SPECIFY_CONSOLE_INDEX=y
CONFIG_VIRTIO_NET=y
# CONFIG_GZIP is not set
CONFIG_OF_LIBFDT_ASSUME_MASK=0
CONFIG_LMB_MAX_REGIONS=8
