menu "MStar/SigmaStar v7 options"
	depends on ARCH_MSTARV7

config MSTAR_IPL
        bool "u-boot spl is being loaded by the vendor IPL"

endmenu

if ARCH_MSTARV7

config SPL_LDSCRIPT
	default "arch/arm/mach-mstar/u-boot-spl.lds"

config SPL_TEXT_BASE
	default 0x23c00000 if MSTAR_IPL
	default 0xa0000000

config DEBUG_UART_NS16550
	default y

config DEBUG_UART_BASE
	default 0x1f221000

config DEBUG_UART_CLOCK
	default 172000000

config DEBUG_UART_SHIFT
	default 3

config SPL_SIZE_LIMIT
	default 0xc000

config SYS_SOC
        default "mstarv7"

endif
