if ARCH_MSTAR

config MSTAR_IPL
        bool "u-boot spl is being loaded by the vendor IPL"

config MSC313
	bool "msc313 family"
	select SPL
	select SPL_SERIAL_SUPPORT
	select SYS_ARCH_TIMER

if MSC313

config TARGET_MSC313_BREADBEE
	bool "Support breadbee"

endif

endif
