if ARCH_MSTAR

config MSTAR_IPL
        bool "u-boot spl is being loaded by the vendor IPL"

config MSTAR_INFINITY1
	bool "infinity1 family"

config MSC313
	bool "infinity3 family"

config MSTAR_MERCURY5
	bool "mercury5 family"

if MSC313

config TARGET_MSC313_BREADBEE
	bool "Support breadbee"

endif

endif
